{% extends 'base.html.twig' %}
{% block title %}create accounts {% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">users</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Users information <a id="toggleList" class="offset-11" role="button">  <i class="fa-solid fa-arrow-down" ></i> </a></p>
            </div>
            <div class="card-body">
                <div class="row">
                </div>
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>username</th>
                            <th>first name</th>
                            <th>last name</th>
                            <th>address</th>
                            <th>phone number</th>
                            <th>remove</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for user in allUser %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.adress }}</td>
                                <td>{{ user.phone }}</td>
                                <td><a role="button" class="btn btn-danger" onclick="return confirm('are you sure??')" href={{ path('remove_user',{'userId':user.id()}) }} >remove</a></td>

                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                    </table>
                </div>
            </div>
        </div>
    <br>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">add new user <a id="toggleAdd" class="offset-11" role="button">  <i class="fa-solid fa-arrow-down" ></i> </a></p>
        </div>
        <div class="card-body">
        {{ form_start(form) }}
        <form id="contactForm-2" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div id="successfail">
                        {{ form_errors(form) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-12" id="message">
                    <fieldset></fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3">{{ form_row(form.username) }}</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3">{{ form_row(form.firstname) }}</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3">{{ form_row(form.lastname) }}</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3">{{ form_row(form.adress) }}</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3">{{ form_row(form.city) }}</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3">{{ form_row(form.phone) }}</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3">{{ form_row(form.roleId) }}</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="has-feedback form-group mb-3">{{ form_row(form.password) }}</div>
                        </div>
                        {{ form_widget(form._token) }}
                    </div>
                    <hr>
                    <div class="form-group mb-3">{{ form_row(form.createuser) }}</div>
                    <hr>
                </div>
            </div>
        </form>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}