{% extends 'base.html.twig' %}
{% block body %}
    <div class="container container-fluid">
    <h3 class="text-dark mb-4">Products</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">List of Products</p>
        </div>
        <div class="card-body">
            <div class="row">
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th>product name</th>
                        <th>description</th>
                        <th>price</th>
                        <th>tax</th>
                        <th>category</th>
                        <th>added by</th>
                        <th>update</th>
                        <th>remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# loop through products #}
                     {% if products %}
                         {% for product in products %}
                            <tr>
                                <td class="editable" data-field="prodName">{{ product.prodName }}</td>
                                <td class="editable" data-field="prodDesc">{{ product.prodDesc }}</td>
                                <td class="editable" data-field="prodPrice">{{ product.price }}</td>
                                <td class="editable" data-field="prodTax">{{ product.tax }}</td>
                                <td >{{ product.catId.catName }}</td>
                                <td>{{ product.userID.userName }}</td>
                                <td><button class="btn btn-warning updateProdBtn">update</button>
                                    <button style="display: none;" class="btn btn-success saveBtn" value="{{ product.id }}">save</button></td>

                                <td><a role="button" class="btn btn-danger" href={{ path('remove_product',{'prodId':product.id()}) }} >remove</a></td>
                            </tr>
                         {% endfor %}
                         {% else %}
                         <tr>
                             no data found
                         </tr>
                    {% endif %}
                    </tbody>
                    <tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}