{% extends 'base.html.twig' %}
{% block title %}list categories {% endblock %}

{% block body %}

    <div class="container-fluid">
    <h3 class="text-dark mb-4">Categories</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">List of categories</p>
        </div>
        <div class="card-body">
            <div class="row">
            </div>

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="category_datatable">
                    <thead>
                    <tr>
                        <th>category name</th>
                        <th>description</th>
                        <th>added by</th>
                        <th>created at</th>
                        <th>update</th>
                        <th>remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# loop through categories #}
                    {% if categories %}

                        {% for category in categories %}
                            <tr>
                                <td class="editable" data-field="catName">{{ category.catName}}</td>
                                <td class="editable" data-field="desc">{{ category.catDesc}} </td>
                                <td>{{ category.userId.username }}</td>
                                <td >{{ category.createdAt|date}} </td>
                                <td><button class="btn btn-warning updateBtn">update</button></td>
                                <td><a role="button" class="btn btn-danger" onclick="return confirm('are you sure??')" href={{ path('remove_category',{'catId':category.id()}) }} >remove</a></td>
                            </tr>
                        {% endfor %}

                    {% else %}

                    {% endif %}
                    </tbody>
                </table>
                <div id="dialog-confirm" title="Empty the recycle bin?">
                    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(categories) }}
                </div>

            </div>
        </div>
    </div>
    </div>{% endblock %}