{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-lg-8">
    <div class="row">
    <div class="col">
    <div class="card shadow mb-3">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">information</p>
        </div>

        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col">
                        <div class="mb-3"><label class="form-label" ><strong>Username</strong></label><input class="form-control userInfo"  readonly type="text" id="txtUsername" value="{{ userInfo.username }}" name="txtUsername" ></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3"><label class="form-label" ><strong>first name</strong></label><input class="form-control userInfo" readonly type="text" id="txtFirstName" value="{{ userInfo.firstName }}" name="txtFirstName" ></div>
                    </div>

                    <div class="col">
                        <div class="mb-3"><label class="form-label" ><strong>last name</strong></label><input class="form-control userInfo" type="text" readonly id="txtLastName" value="{{ userInfo.lastName }}" name="txtLastName" ></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3"><label class="form-label" ><strong>Address</strong></label><input class="form-control userInfo"  readonly type="text" id="txtAddress" value="{{ userInfo.adress }}" name="txtAddress" ></div>
                    </div>
                    <div class="col">
                        <div class="mb-3"><label class="form-label" ><strong>City</strong></label><input class="form-control userInfo"  readonly type="text" id="txtCity" value="{{ userInfo.city }}" name="txtCity" ></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3"><label class="form-label" ><strong>Email</strong></label><input class="form-control userInfo" readonly type="email" id="txtMail" value="" name="mail" ></div>
                    </div>
                    <div class="col">
                        <div class="mb-3"><label class="form-label" ><strong>Telephone</strong></label><input class="form-control userInfo" readonly type="text" id="txtPhone" value="{{ userInfo.phone }}" name="phone" ></div>
                    </div>
                </div>
                <div class="row"></div>
                <input type="hidden" name="_csrf_token" id="_csrf_token_userUpdate" value="{{ csrf_token('updateUser') }}">
                <div class="row">
                    <div class="m-auto" ><button class="btn btn-primary" type="button" id="updateInfo" >update</button></div>
                </div>
                <div class="row"    >
                    <div class="col"><button class="btn btn-success" type="button" id="saveUpdatedUser" data-user-id="{{ userInfo.id }}" style="display: none;">save changes</button></div>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
    </div>


{% endblock %}