<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Log in!{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('/pictures/icon.svg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('appstyle') }}

        {{ encore_entry_link_tags('loginStyle') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>

{% block body %}{% endblock %}

</body>
</html>