<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('appstyle') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
{% block importmap %}{{ importmap('app') }}{% endblock %}
            {{ encore_entry_script_tags('adminEventListner') }}
            {{ encore_entry_script_tags('datatable') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid">
        <div class="row flex-nowrap">

        {#including navbar #}
    {% include 'attachements/navbar.html.twig' %}
                <div class="col py-3">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
