<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>  {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('/pictures/icon.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('appstyle') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {#{% block importmap %}{{ importmap('app') }}{% endblock %}#}
            {{ encore_entry_script_tags('adminEventListner') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid contentColor">
            <div class="row flex-nowrap">
            {#including navbar #}
                {% include 'attachements/navbar.html.twig' %}
                <div class="col justify-content-center position-relative"  id="content">
                    <button class="btn btn-outline-info d-lg-none offset-6" style="z-index: 98"  type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars" ></i>
                    </button>
                    {% block body %}

                    {% endblock %}
                    {% include 'attachements/footer.html.twig' %}
                </div>
            </div>
        </div>
    </body>
</html>
