<!DOCTYPE html>
<html>
<head>
   <style>
       body{margin-top:20px;
           background:#eee;
       }

       .invoice {
           padding: 30px;
       }

       .invoice h2 {
           margin-top: 0px;
           line-height: 0.8em;
       }

       .invoice .small {
           font-weight: 300;
       }

       .invoice hr {
           margin-top: 10px;
           border-color: #ddd;
       }

       .invoice .table tr.line {
           border-bottom: 1px solid #ccc;
       }

       .invoice .table td {
           border: none;
       }

       .invoice .identity {
           margin-top: 10px;
           font-size: 1.1em;
           font-weight: 300;
       }

       .invoice .identity strong {
           font-weight: 600;
       }


       .grid {
           position: relative;
           width: 100%;
           background: #fff;
           color: #666666;
           border-radius: 2px;
           margin-bottom: 25px;
           box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
       }
   </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="grid invoice">
                <div class="grid-body">
                    <div class="invoice-title">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="{{ asset('build/images/icon.13da4f47.png') }}" alt="" height="35">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>invoice<br>
                                    <span class="small">order {{ order.id }}</span></h2>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <address>
                                <strong>shipped To:</strong><br>
                                {{ order.orderDetail.userId.adress }}.<br>
                                {{ order.orderDetail.userId.city }}<br>
                                <abbr title="Phone">P: </abbr> {{ order.orderDetail.userId.phone }}
                            </address>
                        </div>

                        <br>
                        <div class="col-xs-6">
                            <address>
                                <strong>Payment Method:</strong><br>
                                {%if order.paymentId.paymentProvider %}
                                {{ order.paymentId.paymentProvider.providerName}}<br>
                                    {% else %}
                                    cash<br>
                                {% endif %}
                                {{ order.orderDetail.userId.email }}<br>
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>ORDER SUMMARY</h3>
                            <table class="table table-striped">
                                <thead>
                                <tr class="line">
                                    <td><strong>#</strong></td>
                                    <td class="text-center"><strong>PRODUCT</strong></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td class="text-center"><strong>QUANTITY</strong></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>

                                    <td class="text-right"><strong>PRICE per 1</strong></td>
                                    <td colspan="2"></td>
                                    <td class="text-right"><strong>SUBTOTAL</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><strong>{{ order.prodId.prodName }}</strong></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>

                                    <td class="text-center">{{ order.quantity }}</td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>

                                    <td class="text-center">{{ order.prodId.price }} $</td>
                                    <td colspan="2"></td>
                                    <td class="text-right">{{ order.prodId.price*order.quantity}}</td>
                                </tr>
                                <tr></tr>
                                <tr></tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td class="text-right"><strong>Taxes</strong></td>
                                    <td class="text-right"><strong>{{ order.prodId.tax }} %</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td class="text-right"><strong>Total with Taxes</strong></td>
                                    <td class="text-right"><strong>{{ order.orderDetail.total }} $</strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="offset-5 col-xs-6">
                        <address>
                            <strong>Order Date:</strong><br>
                            {{ order.orderDate|date("d-m-Y-H-i-s") }}
                        </address>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right identity">
                            <p>INVENTORY<br><strong></strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>