{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h3 class="text-dark mb-4">Make orders</h3>
    <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Make an order</p>
            </div>
        <!-- google font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

        <form id="signUpForm" action="#!">
            <!-- start step indicators -->
            <div class="form-header d-flex mb-4">
                <span class="stepIndicator">Chose Product</span>
                <span class="stepIndicator">Details</span>
                <span class="stepIndicator">payment</span>
            </div>
            <!-- end step indicators -->

            <!-- step one -->
            <div class="step">
                <p class="text-center mb-4">Chose your product</p>
                <div class="form-group mb-3"><label class="form-label" for="selectedProd">Products</label>
                    <select class="form-select" id="selectedProd" name="selectedProd">
                        {% for product in products %}
                            <option value="{{ product.id }}">
                                {{ product.prodName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="has-feedback form-group mb-3"><label class="form-label" for="price">product Price</label><input class="form-control" type="number" step="0.01" id="price" readonly name="price" required></div>
                    </div>

                    <div class="col-sm-6">
                        <div class="has-feedback form-group mb-3"><label class="form-label" for="description">product description</label><input class="form-control" type="text"  id="description" readonly name="description"  required></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="has-feedback form-group mb-3"><label class="form-label" for="tax">product tax</label><input class="form-control" type="number" step="0.01" id="tax" name="tax" readonly  required></div>
                    </div>
            </div>
            </div>
            <!-- step two -->
            <div class="step">
                <p class="text-center mb-4">Order Details</p>
                <div class="mb-3">
                    <input type="number" min="1" placeholder="quantity" required value="1" id="quantity" name="quantity">
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="discount only for over 5 item" value="0" id="discount"  name="discount" readonly>
                </div>
{#                <div class="mb-3">#}
{#                    <input type="number" step="0.01" readonly placeholder="your total" id="total" name="total">#}
{#                </div>#}
            </div>

            <!-- step three -->
            <div class="step">
                <p class="text-center mb-4">payment</p>
                <div class="row">
                {% for provider in providers %}
                <div class="col-sm-4">
                    <label class="form-label" for="{{ provider.providerName }}">{{ provider.providerName }}</label>
                    <input type="radio" name="provider" id="{{ provider.providerName }}" value="{{ provider.id }}">
                </div>
                {% endfor %}
                </div>
            </div>

            <!-- start previous / next buttons -->
            <div class="form-footer d-flex">
                <button type="button" id="prevBtn" >Previous</button>
                <button type="button" id="nextBtn" >Next</button>
            </div>
            <!-- end previous / next buttons -->
        </form>
    </div>
    <!-- /.MultiStep Form -->
{% endblock %}